*, *::before, *::after,
.leaflet-popup-content-wrapper .leaflet-popup-content * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .leaflet-popup-content-wrapper .leaflet-popup-content {
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none; /* Just in case we missed anything. */
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

main {
    --popup-size: 0rem;

    display: grid;
    grid-template-columns: var(--popup-size) 1fr;

    width: 100%;
    height: 100vh;
    position: relative;

    transition: grid-template-columns 300ms;
}

main:has(aside.active) {
    --popup-size: 24rem;
}

aside {
    display: flex;
    flex-flow: column nowrap;
    width: 24rem;

    top: 0;
    left: 0;
    height: 100%;
    width: 24rem;
    overflow: hidden;

    position: relative;
}

aside .popup-close {
    top: 0;
    right: 0;
    color: black;
    font-size: 32px;

    translate: 8px -8px;
}

aside > img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
}

aside .popup-content-container {
    overflow-y: scroll;
    position: relative;
}

aside .popup-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    padding: 1rem;
    padding-top: .25rem;

    line-height: 1.5;
}

aside .popup-content-container > hgroup {
    display: flex;

    align-items: start;
    justify-content: space-between;
    
    position: sticky;
    top: 0;
    
    width: 100%;
    padding: 1rem;
    backdrop-filter: blur(.25rem);
    border-radius: 0 0 1rem 1rem;
}

aside .popup-content-container > hgroup > h1 {
    line-height: 1;
    font-size: 1.75rem;
}

aside .popup-content-container > hgroup > div {
    display: flex;
    flex-direction: column;
}

.map-container {
    position: relative;
    overflow: hidden;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    z-index: 0;
}

.leaflet-overlay-pane path.leaflet-interactive {
    transition: stroke 200ms, stroke-width 200ms;
}

.filters {
    display: flex;
    
    position: absolute;
    top: 2rem;
    left: 2rem;

    flex-flow: row nowrap;
    gap: 1rem;

    font-weight: bold;
    
    z-index: 50;
}

.filters button {
    padding: .5rem 1rem;
    
    background-color: #ffffff80;
    font-size: 1.25rem;
    
    border-radius: .5rem;

    transition: all 200ms;

    backdrop-filter: blur(5px);

    transition: background-color 300ms, color 300ms;
}

.filters button:hover {
    background-color: #ffffffc0;
}

.filters button[aria-selected="true"] {
    background-color: #000000ff;
    color: white;
}

.filters button[aria-selected="true"]:hover {
    background-color: #000000c0;
}

.marker > span {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 999px 999px 0;

    transform-origin: bottom right;
    translate: -16px;
    rotate: 45deg;

    animation: 500ms cubic-bezier(0.16, 1, 0.3, 1) 0s grow;
}

.marker > span > span {
    font-size: 20px;
    rotate: -45deg;
}

.marker-shopping > span {
    background-color: dodgerblue;
}

.marker-food > span {
    background-color: red;
}

.marker-exercise > span {
    background-color: #6dd900;
}

.marker-hotel > span {
    background-color: goldenrod;
}

.marker-education > span {
    background-color: rgb(200, 17, 200);
}

.marker-filter .marker > span {
    display: none
}

.marker-filter-shopping .marker-shopping > span,
.marker-filter-food .marker-food > span,
.marker-filter-exercise .marker-exercise > span,
.marker-filter-hotel .marker-hotel > span,
.marker-filter-education .marker-education > span
{
    display: flex;

    animation-name: grow-bigger;
    scale: 1.5;
}

@keyframes grow {
    from {
        scale: 0;
    }

    to {
        scale: 1;
    }
}

@keyframes grow-bigger {
    from {
        scale: 0;
    }

    to {
        scale: 1.5;
    }
}

.leaflet-popup {
    margin-bottom: 8px;
}

.leaflet-popup-content-wrapper {
    background-color: #ffffff80;
    backdrop-filter: blur(.25rem);
    box-shadow: none;
    border-radius: 0.5rem;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin: 0.5rem 1rem;
    font-size: 1rem;
}

.leaflet-popup-content h1 {
    font-size: 1.4rem;
    white-space: pre;
}

.leaflet-popup-tip-container {
    display:none;
}
